@font-face {
    font-family:"Gilam";
    src: url(../fonts/gilam-semi-bold.woff2);
    font-weight: 600,700;
    font-display: swap;}

@font-face {
    font-family:"Gilam-regular";
    src: url(../fonts/gilam-regular.woff2);
    font-weight: 400,500;
    font-display: swap;}

@font-face {
    font-family:"Circle-regular";
    src: url(../fonts/Circe-Regular.woff);
    font-weight: 400;
    font-display: swap;}

@font-face {
    font-family:"Circle";
    src: url(../fonts/Circe-Bold.woff);
    font-weight: 700;
    font-display: swap;}

body{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    font-family:"Gilam", sans-serif;
    font-style: normal;}

.bg-image{ 
    background-size:cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;}

.image-top{
    background-image: url(../Image/header-bg.jpeg);}

.chapter{    
    width: 76%;
    max-width: 1460px;
    margin:0 auto;}

.padding-top{
    padding-top: 2.3vw;
    padding-bottom: 2vw;}

header{
    display: flex;
    margin-bottom: 6.2vw;
    justify-content: space-between;
    align-items: center;}

.logo-img{
    width: 11.25vw;
    height: 1.72vw;}

.phone-button{
    align-items: center;
    display: flex;}

.phone{
    font-family:"Circle",sans-serif;
    padding-right: 2vw;       
    font-size: 1vw;
    color: #D6AF76;}

.phone-white{
    color: #FFFFFF;}

.button{
    width: 11.3vw;
    height: 2.6vw;
    border: 1px solid #E4B564;}

.button-link{
    display: flex;
    font-family:"Circle-regular",sans-serif;    
    font-size: 0.94vw;
    color: #E4B564;
    text-decoration: none;
    align-items: center;}

.button-img{
    padding: 1vw 0.52vw 0.89vw 1.35vw;    
    width: 0.68vw;
    height: 0.73vw;}

h2{      
    font-size: 2.6vw;
    color: #FFFFFF;}

h3{
    width: 81%;
    font-size: 1.04vw;
    line-height: 1.46vw;
    font-style: normal;
    color: #FFFFFF;  
    margin: 2.14vw 0 2.14vw 0;}

.grid-top{
    display: grid;
    grid-template-rows: repeat(2, 24.4vw);
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1.56vw;    
    font-size:1.04vw ;
    line-height:1.46vw ;
    color:#FFFFFF ;}

 .grid-top-item1,.grid-top-item2,.grid-top-item3,.grid-top-item4,.grid-top-item5{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 2.3vw;
    padding-right: 2.3vw;} 

.grid-top-item1{   
    background-color: #634F2C;
    grid-row-start: 1;
    grid-column: 1/span 2;}

.grid-top-item2{
    background-color:#B4A385 ;
    grid-row-start: 1;
    grid-column: 3/span 2;}

.grid-top-item3{
    background-color: #E4B564;
    grid-row-start: 1;
    grid-column: 5/span 2;} 

.grid-top-item4{
    background-color: #635A4A;
    grid-row-start: 2;
    grid-column: 1/span 3;}

.grid-top-item5{
    background-color: #B08C4D;
    grid-row-start: 2;
    grid-column: 4/span 3;}

.image-main{
    background-image: url(../Image/fon-bud.jpg);}

.padding-main{
    padding-top: 6.2vw;
    padding-bottom: 11.7vw;}

.grid-main{
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.56vw; 
    padding-top: 4.9vw;
    font-family:"Gilam-regular",sans-serif;
    font-weight:500 ;
    font-size:1.04vw ;
    line-height:1.3vw ;
    color:#FFFFFF ;}

.grid-main-item-1,.grid-main-item-3{
    font-family:"Gilam-regular",sans-serif;
    font-weight: 400;}

.text-main-bold{
    font-family:"Gilam",sans-serif;}

.grid-main-item-1,.grid-main-item-2,.grid-main-item-3,.grid-main-item-4,.grid-main-item-5,.grid-main-item-6,.grid-main-item-7{
    text-align: left;
    padding: 2vw 0 0 2.4vw;}

.grid-main-item-1{
    background-color: #0E0E0E;
    grid-row: 1/span 4;
    grid-column: 1;
    padding-bottom: 10vw;}

.grid-main-item-2{
    background-color: #1F1F1F;
    grid-row: 5/span 8;
    grid-column: 1;
    padding-bottom: 23vw;}

.grid-main-item-3{
    background-color: #242424;
    grid-row: 1/span 6;
    grid-column: 2;}

.grid-main-item-4{
    background-color: #E4B564;
    color: #000000;
    grid-row: 7/span 6;
    grid-column: 2;}

.grid-main-item-5{
    background-color: #1F1F1F;
    grid-row: 1/span 3;
    grid-column: 3;}

.grid-main-item-6{
    background-color: #0E0E0E;
    grid-row: 4/span 5;
    grid-column: 3;}

.grid-main-item-7{
    font-family:"Gilam",sans-serif;
    background-color: #0A0909;
    grid-row: 9/span 4;
    grid-column: 3;}

.image-footer{
    background-image: url(../Image/parallax-bg.jpeg);}

.padding-footer{
    padding-top: 9vw;
    padding-bottom: 11.7vw;}

.footer-title{
    display: flex;
    justify-content: space-between;
    align-items: center;}

.footer-button{
    border: 1px solid #E4B564;
    color: #E4B564;
    text-decoration: none;
    font-family:"Circle-regular",sans-serif;
    font-size: 0.94vw;
    line-height: 1.56vw;
    padding: 0.52vw 2.08vw;}

.grid-footer{
    display: grid;
    grid-template-rows: 20.4vw 20.4vw;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 3.2vw;
    font-size:1.04vw;
    line-height:1.3vw ;
    color:#FFFFFF ;}

.grid-footer-item-1-and-6{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #634F2C;}

.grid-footer-item-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(232, 210, 171, 0.76);}

.grid-footer-item-3{
    background-color: #E4B564;
    display: flex;
    justify-content: center;
    align-items: center;}

.grid-footer-item-4{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #635A4A;}

.grid-footer-item-5{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B08C4D;}

.img-footer-grid-1-and-6 {
    width: 9.6vw;
    height: 2.6vw;}

.img-footer-grid-2-logo{
    width: 3.4vw;
    height: 2.9vw;}

.img-footer-grid-2{
    width: 7.2vw;
    height: 2.9vw;}

.img-footer-grid-3-and-4{
    width: 9.9vw;
    height: 2.2vw; }

.img-footer-grid-5{
    width: 6.2vw;
    height: 2.8vw;}

.text-footer-bold{
    font-family:"Gilam",sans-serif;
    font-weight:600 ;
    font-size:1.15vw ;
    line-height:1.46vw ;
    color:#FFFFFF ;
    text-align: center;
    padding-left: 4.1vw;
    padding-right: 4.1vw;}

.text-footer-normal{
    font-family:"Gilam-regular",sans-serif;
    font-weight:400 ;
    font-size:1.15vw ;
    line-height:1.46vw ;
    color:#FFFFFF ;
    text-align: center;
    padding-left: 4.1vw;
    padding-right: 4.1vw;}